/* Variables */

:root {
    --basic-grey: #eeeeee;
    --basic-white: #ffffff;
    --basic-font-grey: #4d4d4d;
    --basic-font-dark: #283136;
    --basic-font-black: #000000;
    --basic-red: #fb565a;
    --basic-green: #00ca74;
    --basic-yellow: #efc849;
    --special-red: #b63538;
    --special-green: #009053;
    --special-yellow: #c09b24;
    --basic-footer: #444444;
}
 
body {
    width: 1440px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-font-dark);
    background-color: var(--basic-white);
}

a {
    text-decoration: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

/* Grid */
.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    padding: 0;
}
/* Grid for pages */

.page-catalog {
    display: grid;
    grid-template-columns: 260px 1fr;
    align-content: start;
}


/* Main navigation */

.main-navigation {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    font-weight: 500;
    font-style: normal;
    color: var(--basic-font-black);
    text-transform: uppercase;
    background-color: var(--basic-grey);
}

.main-navigation-wrapper {
    background-color: var(--basic-grey);
} 

.page-title h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    padding-top: 87px;
    padding-bottom: 108px;
}

/* Logo */

.main-header-logo {
    width: 160px;
    height: 65px;
    margin-top: 49px;
    margin-left: 140px;
  }
/* Container */

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-navigation-wrapper .container {
    display: flex;
    justify-content: space-between;
}

.site-navigation {
    margin-left: 202px;
    margin-top: 76px;
    list-style: none;
    display: flex;
}

.site-navigation-current a:not([href]) {
    background-color: var(--basic-grey);
}

.site-navigation li {
    display: inline-block;
    margin-right: 44px;
}
 
.site-navigation a,
.user-navigation a {
    color: var(--basic-font-black);
}
  
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    color: var(--basic-red);
}
.cart{
    position: relative;
    margin-right: 140px;
}
.cart::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    display: block;
    left:0;
    top: 0;
    background: url("../img/cart-icon.svg") no-repeat center center;
    background-size: cover;
    margin-left: -45px;
}
.user-navigation
{
    position: relative;
    margin-top: 75px;
}

/* Services */

.services {
    margin-top: 80px;
}

.services-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 100px;
    margin: 0;
    padding: 0;
    list-style: none;
}
  
.service-item {
    text-align: left;
    position:relative;
    padding-top: 120px;
    padding-bottom: 80px;
}

.service-item::before{
    content: "";
    width: 300px;
    height: 146px;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
}

.service-item-sites{
    background: url(../img/web-site.png) no-repeat top left;
}

.service-item-apps{
    background: url(../img/web-app.png) no-repeat top left;
}

.service-item-presentations{
    background: url(../img/presentation.png) no-repeat top left;
}
  
.service-item h3 {
    font-size: 24px;
    line-height: 30px;
    font-style: normal;
    font-weight: bold;
    color: var(--basic-font-black);
    text-transform: uppercase;
    padding-top: 25px;
    padding-bottom: 16px;
}

.service-item p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 32px;
}

/* Button */

.button {
    font: inherit;
    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
    width: 160px;
    height: 50px;
    border-radius: 3px;
}

.button-red {
    background-color: var(--basic-red);
}

.button-red:hover,
.button-red:focus,
.button-red:active {
    background-color: var(--special-red);
}

.button-red.disabled,
.button-red:disabled {
    cursor: default;
    background-color: var(--basic-red);
}

.button-green {
    background-color: var(--basic-green);
}

.button-green:hover,
.button-green:focus,
.button-green:active {
    background-color: var(--special-green);
}

.button-green.disabled,
.button-green:disabled {
    cursor: default;
    background-color: var(--basic-green);
}

.button-yellow {
    background-color: var(--basic-yellow);
}

.button-yellow:hover,
.button-yellow:focus,
.button-yellow:active {
    background-color: var(--special-yellow);
}

.button-yellow.disabled,
.button-yellow:disabled {
    cursor: default;
    background-color: var(--basic-yellow);
}



/* Filters */

.filters {
    width: 260px;
}

.filter fieldset {
    margin-bottom: 30px;
    border: none;
}

.filter legend {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    align-items: center;
    text-transform: uppercase;
    color: var(--basic-black);
  }
  
.filter ul {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: var(--basic-font-dark);
    list-style: none;
}

.filter-option{
    padding-bottom: 15px;
}
  
.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
    color: var(--basic-font-dark);
  }
  
.filter-button{
    width: 260px;
    height: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: var(--basic-black);
  }

.filter-button:hover{
    background-color: #b5b5b5;
  }

  /* .checkbox:checked + .checkbox-custom::before {
    background: #ffffff url("../img/checkbox-on.svg") no-repeat;
  } */

  /* Catalog */

.catalog-list {
    list-style: none;
}
  
.catalog-description {
    width: 358px;
    height: 230px;
    text-align: center;
    background-color: var(--basic-grey);
}
  
.catalog {
    margin-left: 100px;
}

.catalog-item {
    width: 358px;
    padding: 0px;
    min-height: 540px;
    margin-left: 40px;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}

.page-catalog .page-title {
    outline-offset: -5px;
    outline: 5px solid rgba(0, 255, 0, 0.7);
}
  
.page-catalog .breadcrumbs {
    padding: 0px;
    outline-offset: -5px;
    outline: 5px solid rgba(0, 0, 255, 0.7);
}

.catalog-description h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    align-items: center;
    text-transform: uppercase;
    color: var(--basic-black);
    padding-top: 25px;
}

.catalog-description h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    align-items: center;
    color: #666666;
}

.button-buy{
    vertical-align: middle;
    width: 160px;
    height: 50px;    
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    background-color: var(--basic-red);
    border-radius: 3px;
}

.button-buy:hover,
.button-buy:focus,
.button-buy:active {
    background-color: var(--special-red);
}


.inner-page .main-header {
    background-color: var(--basic-grey);
}

.inner-page {
    background-color: var(--basic-white);
}

.page-title {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    align-items: center;
    color: var(--basic-black);
  }

.catalog-section {
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    align-items: center;
    color: var(--basic-black);
    background-color: var(--basic-grey);
} 

/* Main footer */

.page-footer {
    display: inline-block;
    display: flex;
    color: var(--basic-footer);
    background-color: var(--basic-white);
}
.page-footer .footer-discount {
    margin-left: 140px;
    margin-top: 75px;
    display: inline-block;
  }
.page-footer h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: var(--basic-font-black);
    align-items: center;
}

.page-footer p {
    align-items: center;
}

.footer-social .social-link {
    margin-top: 101px;
    margin-bottom: 101px;
    display: inline-block;
    position: relative;
}

.social-link {
    position: relative;
    display: inline-block;
    width: 81px;
    height: 81px;
    background-color: #E1E1E1;
    border-radius: 50%;

}
    
.social-link::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    padding-right: 9px;
}
    
.social-link-vk::before {
    background: url("../img/vk-icon.svg") no-repeat center center;
}

.social-link-fb::before {
    background: url("../img/fb-icon.svg") no-repeat center center;
}

.social-link-in::before {
    background: url("../img/insta-icon.svg") no-repeat center center;
}

.social-link:hover {
    background: red;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0px;
    padding: 0px;
    clip: rect(0 0 0 0);
    overflow: hidden;
}